.table-long-content-col {
  display: flex;
  align-items: center;
  .content-total {
    width: max-content;
    height: 18px;
    padding: 0 4px;
    font-size: 10px;
    color: #2a8fff;
    background: rgba(47, 129, 249, 0.12);
    border: 1px solid #8fc7ff;
    border-radius: 2px;
    cursor: pointer;
  }
}
.show-item {
  float: left;
  display: block;
  height: 24px;
  max-width: 126px;
  margin-right: 4px;
  padding: 0 8px;
  line-height: 24px;
  background: #f4f4f6;
  border: 1px solid #d7dae0;
  border-radius: 2px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.content-hide-box {
  display: flex;
  flex-wrap: wrap;
  box-sizing: border-box;
  max-width: 238px;
  padding: 2px 4px 6px 4px;
  color: #2a8fff;

  .hide-item {
    background: #f4f4f6;
    border: 1px solid #d7dae0;
    border-radius: 2px;
    padding: 0 5px;
    margin: 4px 2px 0;
    box-sizing: border-box;
    background: #f8fafd;
    font-size: 12px;
    color: #303a51;
  }
}
