.status-content {
  background-color: white;
  padding: 18px;

  h2 {
    margin-top: 24px;
    font-family: PingFangSC-Medium;
    font-size: 14px;
    color: #333333;
  }

  .run-topo-wrapper {
    background-color: #F7F8FA;
  }
}

.tp-editor-wrapper {
  height: 500px;
  background-color: white;
  padding-top: 18px;

  .op-btns {
    text-align: right;
    margin-right: 30px;
  }
}

.log-filter {
  padding-top: 18px;
  background-color: white;
}

.node-wrapper {
  background-color: #fff;
  border: 1px solid #D3D9E6;
  border-radius: 4px;
  padding: 8px 16px;
  width: 232px;
  cursor: pointer;

  >h2 {
    font-family: PingFangSC-Medium;
    font-size: 12px;
    color: #333333;
    margin: 0;
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  >.node-desp {
    color: #666666;
    height: 36px;
    padding: 8px 0;
    border-bottom: 1px solid #D3D9E6;
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  >.node-row {
    padding-top: 8px;

    >span {
      display: inline-block;
      width: 50%;
      text-align: left;
      color: #151515;

      >label {
        color: #666666;
      }
    }
  }
}

.node-wrapper.node-red {
  border: 1px solid #E57474;
  background-color: rgba(236, 147, 147, 0.05);
}

.member-content{
  background: white;
  padding: 10px;
  .member-content-head{
    float: right;
    overflow: hidden;
    margin-bottom: 10px;
    display: flex;
    width: 300px;
    justify-content: space-between;
  }
}