.add-role-header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 10px;
}
.operation-box{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.line-between{
  width: 1px;
  height: 12px;
  display: block;
  background: #E8E8E8;
}