@primary-color: #526ecc;

.dropdown-text {
  color: white;
  &:hover {
    color: white;
  }
}

.app-wrapper {
  background-color: #4A4A4A;
  width: 250px;
  height: 280px;
  overflow: scroll;
  border-radius: 5px;
  padding: 15px 20px 0px 20px !important;

  .right-text {
    float: right;
  }

  ul {
    li {
      text-align: left;
      height: 32px;
      line-height: 32px;
      color: #878380;

      a {
        color: #878380;

        &.active {
          color: @primary-color;
        }
      }

      &:hover {
        background: rgba(236, 111, 38, 0.1);
      }
    }

    li:nth-child(1) {
      &:hover {
        background: transparent;
      }
    }
  }
}