<html>

<head>
    <title>ZEUS</title>
    {{ template "common/head" . }}
</head>

<body>
    <div class="container-fluid" style="margin-bottom: 20px;">
        {{ template "common/banner" . }}
        <div class="row">
            {{ template "common/menu" . }}
            <div class="col-md-11">

                <div style="margin-left: 200px;margin-top: 70px;margin-bottom: 60px;">
                    <img src="/static/img/car.jpg" alt="" width="300">
                </div>

                <div style="margin-left: 400px;">
                    广告位招租，每月10万，童叟无欺，联系 QINXIAOHUI 可享折扣
                </div>
                

            </div>
        </div>
    </div>

</body>

</html>