.tpl-form {
  padding: 20px;
  &-readonlyText {
    display: flex;
    margin-top: 12px;
    width: 30%;
    .read-lable {
      flex-shrink: 0;
    }
  }
  &-formitem {
    margin-top: 20px !important;
    margin-bottom: 0px !important;
  }
  &-first-formitem {
    margin-bottom: 0px !important;
  }
}
