.login-box {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: space-around;
  &-left {
    width: 33.33%;
    height: 100%;
    background-image: url("./img/pic@2x.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-color: #466fff;
    &-img {
      width: 48px;
      height: 48px;
      background-image: url("./img/logo.png");
      background-repeat: no-repeat;
      background-size: 100% 100%;
      margin: 0 auto;
      margin-top: 20%;
    }
    &-title {
      font-family: PingFangSC-Semibold;
      font-size: 28px;
      color: #ffffff;
      text-align: center;
    }
    &-text {
      font-family: PingFangSC-Regular;
      font-size: 20px;
      color: #ffffff;
      text-align: center;
      line-height: 30px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 250px;
      margin: 0 auto;
      &-leftline {
        width: 70px;
        height: 1px;
        background: -webkit-linear-gradient(
          right,
          rgb(80, 80, 255, 0.2),
          #fff
        ); /* Safari 5.1 - 6.0 */
        background: -o-linear-gradient(
          right,
          rgb(80, 80, 255, 0.2),
          #fff
        ); /* Opera 11.1 - 12.0 */
        background: -moz-linear-gradient(
          right,
          rgb(80, 80, 255, 0.2),
          #fff
        ); /* Firefox 3.6 - 15 */
        background: linear-gradient(
          to right,
          rgb(80, 80, 255, 0.2),
          #fff
        ); /* 标准的语法 */
      }
      &-rithline {
        width: 70px;
        height: 1px;
        background: -webkit-linear-gradient(
          left,
          rgb(80, 80, 255, 0.2),
          #fff
        ); /* Safari 5.1 - 6.0 */
        background: -o-linear-gradient(
          left,
          rgb(80, 80, 255, 0.2),
          #fff
        ); /* Opera 11.1 - 12.0 */
        background: -moz-linear-gradient(
          left,
          rgb(80, 80, 255, 0.2),
          #fff
        ); /* Firefox 3.6 - 15 */
        background: linear-gradient(
          to left,
          rgb(80, 80, 255, 0.2),
          #fff
        ); /* 标准的语法 */
      }
    }
    &-conter {
      font-family: PingFangSC-Regular;
      font-size: 20px;
      color: #ffffff;
      text-align: center;
      line-height: 30px;
    }
  }
  &-form {
    flex: 1;
    height: 100%;
    background-image: url("./img/ocp.png");
    background-repeat: no-repeat;
    background-size: 100% 435px;
    background-color: #ffffff;
    &-center {
      width: 100%;
      height: 100%;
      position: relative;
      &-header {
        height: 77px;
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        &-left {
          display: flex;
          font-size: 18px;
          color: #2f81f9;
          margin-left: 20px;
          &-log {
            width: 29px;
            height: 29px;
            background: #2f81f9;
            background-image: url("./img/logo.png");
            background-repeat: no-repeat;
            background-size: 100% 100%;
            margin-right: 10px;
          }
        }
        &-right {
          font-size: 12px;
          color: #303a51;
          text-align: center;
          line-height: 20px;
          margin-right: 40px;
          cursor: pointer;
          width: 65px;
          cursor: pointer;
          display: flex;
          align-items: center;
          justify-content: space-between;
        }
        &-right:hover {
          color: #2f81f9;
        }
      }
      &-title {
        width: 340px;
        margin: 0 auto;
        display: flex;
        align-items: center;
        justify-content: space-between;
        &-left {
          font-size: 24px;
          color: #303a51;
          text-align: center;
        }
        &-right {
          font-size: 14px;
          color: #999999;
          text-align: center;
        }
      }
      &-content {
        padding-top: 40px;
        width: 340px;
        margin: 0 auto;
      }
      &-bottom {
        position: absolute;
        bottom: 0;
        width: 100%;
        height: 50px;
        p {
          font-size: 12px;
          color: #999999;
          letter-spacing: 0;
          text-align: center;
          line-height: 18px;
        }
      }
    }
  }
  .ant-form-vertical .ant-form-item-control {
    position: relative;
  }
  .ant-form-item-explain.ant-form-item-explain-error {
    color: #ff4d4f;
    position: absolute;
    width: 120px;
    top: 5px;
    right: -133px;
    span {
      padding-right: 5px;
    }
  }
}
.custom-login-style {
  .ant-tooltip-inner {
    font-size: 12px;
    color: #303a51;
    line-height: 20px;
  }
}

.ant-form-item-custom {
  margin-bottom: 0;
  .ant-form-item-control {
    min-height: 56px;
  }
}
