<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8"/>
  <title>iconfont Demo</title>
  <link rel="shortcut icon" href="//img.alicdn.com/imgextra/i2/O1CN01ZyAlrn1MwaMhqz36G_!!6000000001499-73-tps-64-64.ico" type="image/x-icon"/>
  <link rel="icon" type="image/svg+xml" href="//img.alicdn.com/imgextra/i4/O1CN01EYTRnJ297D6vehehJ_!!6000000008020-55-tps-64-64.svg"/>
  <link rel="stylesheet" href="https://g.alicdn.com/thx/cube/1.3.2/cube.min.css">
  <link rel="stylesheet" href="demo.css">
  <link rel="stylesheet" href="iconfont.css">
  <script src="iconfont.js"></script>
  <!-- jQuery -->
  <script src="https://a1.alicdn.com/oss/uploads/2018/12/26/7bfddb60-08e8-11e9-9b04-53e73bb6408b.js"></script>
  <!-- 代码高亮 -->
  <script src="https://a1.alicdn.com/oss/uploads/2018/12/26/a3f714d0-08e6-11e9-8a15-ebf944d7534c.js"></script>
  <style>
    .main .logo {
      margin-top: 0;
      height: auto;
    }

    .main .logo a {
      display: flex;
      align-items: center;
    }

    .main .logo .sub-title {
      margin-left: 0.5em;
      font-size: 22px;
      color: #fff;
      background: linear-gradient(-45deg, #3967FF, #B500FE);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }
  </style>
</head>
<body>
  <div class="main">
    <h1 class="logo"><a href="https://www.iconfont.cn/" title="iconfont 首页" target="_blank">
      <img width="200" src="https://img.alicdn.com/imgextra/i3/O1CN01Mn65HV1FfSEzR6DKv_!!6000000000514-55-tps-228-59.svg">
      
    </a></h1>
    <div class="nav-tabs">
      <ul id="tabs" class="dib-box">
        <li class="dib active"><span>Unicode</span></li>
        <li class="dib"><span>Font class</span></li>
        <li class="dib"><span>Symbol</span></li>
      </ul>
      
      <a href="https://www.iconfont.cn/manage/index?manage_type=myprojects&projectId=2679570" target="_blank" class="nav-more">查看项目</a>
      
    </div>
    <div class="tab-container">
      <div class="content unicode" style="display: block;">
          <ul class="icon_lists dib-box">
          
            <li class="dib">
              <span class="icon iconfont">&#xe68e;</span>
                <div class="name">展开icon</div>
                <div class="code-name">&amp;#xe68e;</div>
              </li>
          
            <li class="dib">
              <span class="icon iconfont">&#xe68f;</span>
                <div class="name">收起icon</div>
                <div class="code-name">&amp;#xe68f;</div>
              </li>
          
            <li class="dib">
              <span class="icon iconfont">&#xe691;</span>
                <div class="name">我的消息icon</div>
                <div class="code-name">&amp;#xe691;</div>
              </li>
          
            <li class="dib">
              <span class="icon iconfont">&#xe789;</span>
                <div class="name">reload time</div>
                <div class="code-name">&amp;#xe789;</div>
              </li>
          
            <li class="dib">
              <span class="icon iconfont">&#xe9e1;</span>
                <div class="name">公告</div>
                <div class="code-name">&amp;#xe9e1;</div>
              </li>
          
            <li class="dib">
              <span class="icon iconfont">&#xe9d2;</span>
                <div class="name">公告</div>
                <div class="code-name">&amp;#xe9d2;</div>
              </li>
          
            <li class="dib">
              <span class="icon iconfont">&#xe9d3;</span>
                <div class="name">DC采集器管理</div>
                <div class="code-name">&amp;#xe9d3;</div>
              </li>
          
            <li class="dib">
              <span class="icon iconfont">&#xe9d4;</span>
                <div class="name">kafka</div>
                <div class="code-name">&amp;#xe9d4;</div>
              </li>
          
            <li class="dib">
              <span class="icon iconfont">&#xe9d5;</span>
                <div class="name">日志审计</div>
                <div class="code-name">&amp;#xe9d5;</div>
              </li>
          
            <li class="dib">
              <span class="icon iconfont">&#xe9d6;</span>
                <div class="name">逻辑集群管理</div>
                <div class="code-name">&amp;#xe9d6;</div>
              </li>
          
            <li class="dib">
              <span class="icon iconfont">&#xe9d7;</span>
                <div class="name">权限</div>
                <div class="code-name">&amp;#xe9d7;</div>
              </li>
          
            <li class="dib">
              <span class="icon iconfont">&#xe9d8;</span>
                <div class="name">es集群</div>
                <div class="code-name">&amp;#xe9d8;</div>
              </li>
          
            <li class="dib">
              <span class="icon iconfont">&#xe9d9;</span>
                <div class="name">快速诊断</div>
                <div class="code-name">&amp;#xe9d9;</div>
              </li>
          
            <li class="dib">
              <span class="icon iconfont">&#xe9da;</span>
                <div class="name">dashboard</div>
                <div class="code-name">&amp;#xe9da;</div>
              </li>
          
            <li class="dib">
              <span class="icon iconfont">&#xe9db;</span>
                <div class="name">自助服务</div>
                <div class="code-name">&amp;#xe9db;</div>
              </li>
          
            <li class="dib">
              <span class="icon iconfont">&#xe9dc;</span>
                <div class="name">topic迁移</div>
                <div class="code-name">&amp;#xe9dc;</div>
              </li>
          
            <li class="dib">
              <span class="icon iconfont">&#xe9dd;</span>
                <div class="name">集群详情</div>
                <div class="code-name">&amp;#xe9dd;</div>
              </li>
          
            <li class="dib">
              <span class="icon iconfont">&#xe9df;</span>
                <div class="name">connect管理</div>
                <div class="code-name">&amp;#xe9df;</div>
              </li>
          
            <li class="dib">
              <span class="icon iconfont">&#xe9e0;</span>
                <div class="name">配置管理</div>
                <div class="code-name">&amp;#xe9e0;</div>
              </li>
          
            <li class="dib">
              <span class="icon iconfont">&#xe9d0;</span>
                <div class="name">成功</div>
                <div class="code-name">&amp;#xe9d0;</div>
              </li>
          
            <li class="dib">
              <span class="icon iconfont">&#xe9d1;</span>
                <div class="name">筛选</div>
                <div class="code-name">&amp;#xe9d1;</div>
              </li>
          
            <li class="dib">
              <span class="icon iconfont">&#xe9cf;</span>
                <div class="name">失败</div>
                <div class="code-name">&amp;#xe9cf;</div>
              </li>
          
            <li class="dib">
              <span class="icon iconfont">&#xe9c3;</span>
                <div class="name">折叠</div>
                <div class="code-name">&amp;#xe9c3;</div>
              </li>
          
            <li class="dib">
              <span class="icon iconfont">&#xe9c4;</span>
                <div class="name">删除</div>
                <div class="code-name">&amp;#xe9c4;</div>
              </li>
          
            <li class="dib">
              <span class="icon iconfont">&#xe9c5;</span>
                <div class="name">添加</div>
                <div class="code-name">&amp;#xe9c5;</div>
              </li>
          
            <li class="dib">
              <span class="icon iconfont">&#xe9c6;</span>
                <div class="name">日期</div>
                <div class="code-name">&amp;#xe9c6;</div>
              </li>
          
            <li class="dib">
              <span class="icon iconfont">&#xe9c7;</span>
                <div class="name">刷新</div>
                <div class="code-name">&amp;#xe9c7;</div>
              </li>
          
            <li class="dib">
              <span class="icon iconfont">&#xe9c8;</span>
                <div class="name">搜索</div>
                <div class="code-name">&amp;#xe9c8;</div>
              </li>
          
            <li class="dib">
              <span class="icon iconfont">&#xe9c9;</span>
                <div class="name">leader</div>
                <div class="code-name">&amp;#xe9c9;</div>
              </li>
          
            <li class="dib">
              <span class="icon iconfont">&#xe9ca;</span>
                <div class="name">info</div>
                <div class="code-name">&amp;#xe9ca;</div>
              </li>
          
            <li class="dib">
              <span class="icon iconfont">&#xe9cb;</span>
                <div class="name">复制</div>
                <div class="code-name">&amp;#xe9cb;</div>
              </li>
          
            <li class="dib">
              <span class="icon iconfont">&#xe9cc;</span>
                <div class="name">编辑</div>
                <div class="code-name">&amp;#xe9cc;</div>
              </li>
          
            <li class="dib">
              <span class="icon iconfont">&#xe9cd;</span>
                <div class="name">下载</div>
                <div class="code-name">&amp;#xe9cd;</div>
              </li>
          
            <li class="dib">
              <span class="icon iconfont">&#xe9ce;</span>
                <div class="name">全屏</div>
                <div class="code-name">&amp;#xe9ce;</div>
              </li>
          
          </ul>
          <div class="article markdown">
          <h2 id="unicode-">Unicode 引用</h2>
          <hr>

          <p>Unicode 是字体在网页端最原始的应用方式，特点是：</p>
          <ul>
            <li>支持按字体的方式去动态调整图标大小，颜色等等。</li>
            <li>默认情况下不支持多色，直接添加多色图标会自动去色。</li>
          </ul>
          <blockquote>
            <p>注意：新版 iconfont 支持两种方式引用多色图标：SVG symbol 引用方式和彩色字体图标模式。（使用彩色字体图标需要在「编辑项目」中开启「彩色」选项后并重新生成。）</p>
          </blockquote>
          <p>Unicode 使用步骤如下：</p>
          <h3 id="-font-face">第一步：拷贝项目下面生成的 <code>@font-face</code></h3>
<pre><code class="language-css"
>@font-face {
  font-family: 'iconfont';
  src: url('iconfont.woff2?t=1627354481710') format('woff2'),
       url('iconfont.woff?t=1627354481710') format('woff'),
       url('iconfont.ttf?t=1627354481710') format('truetype');
}
</code></pre>
          <h3 id="-iconfont-">第二步：定义使用 iconfont 的样式</h3>
<pre><code class="language-css"
>.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
</code></pre>
          <h3 id="-">第三步：挑选相应图标并获取字体编码，应用于页面</h3>
<pre>
<code class="language-html"
>&lt;span class="iconfont"&gt;&amp;#x33;&lt;/span&gt;
</code></pre>
          <blockquote>
            <p>"iconfont" 是你项目下的 font-family。可以通过编辑项目查看，默认是 "iconfont"。</p>
          </blockquote>
          </div>
      </div>
      <div class="content font-class">
        <ul class="icon_lists dib-box">
          
          <li class="dib">
            <span class="icon iconfont icon-zhankaiicon"></span>
            <div class="name">
              展开icon
            </div>
            <div class="code-name">.icon-zhankaiicon
            </div>
          </li>
          
          <li class="dib">
            <span class="icon iconfont icon-shouqiicon"></span>
            <div class="name">
              收起icon
            </div>
            <div class="code-name">.icon-shouqiicon
            </div>
          </li>
          
          <li class="dib">
            <span class="icon iconfont icon-wodexiaoxiicon"></span>
            <div class="name">
              我的消息icon
            </div>
            <div class="code-name">.icon-wodexiaoxiicon
            </div>
          </li>
          
          <li class="dib">
            <span class="icon iconfont icon-reloadtime"></span>
            <div class="name">
              reload time
            </div>
            <div class="code-name">.icon-reloadtime
            </div>
          </li>
          
          <li class="dib">
            <span class="icon iconfont icon-gonggao-copy"></span>
            <div class="name">
              公告
            </div>
            <div class="code-name">.icon-gonggao-copy
            </div>
          </li>
          
          <li class="dib">
            <span class="icon iconfont icon-gonggao"></span>
            <div class="name">
              公告
            </div>
            <div class="code-name">.icon-gonggao
            </div>
          </li>
          
          <li class="dib">
            <span class="icon iconfont icon-DCcaijiqiguanli"></span>
            <div class="name">
              DC采集器管理
            </div>
            <div class="code-name">.icon-DCcaijiqiguanli
            </div>
          </li>
          
          <li class="dib">
            <span class="icon iconfont icon-kafka"></span>
            <div class="name">
              kafka
            </div>
            <div class="code-name">.icon-kafka
            </div>
          </li>
          
          <li class="dib">
            <span class="icon iconfont icon-rizhishenji"></span>
            <div class="name">
              日志审计
            </div>
            <div class="code-name">.icon-rizhishenji
            </div>
          </li>
          
          <li class="dib">
            <span class="icon iconfont icon-luojijiqunguanli"></span>
            <div class="name">
              逻辑集群管理
            </div>
            <div class="code-name">.icon-luojijiqunguanli
            </div>
          </li>
          
          <li class="dib">
            <span class="icon iconfont icon-quanxian"></span>
            <div class="name">
              权限
            </div>
            <div class="code-name">.icon-quanxian
            </div>
          </li>
          
          <li class="dib">
            <span class="icon iconfont icon-esjiqun"></span>
            <div class="name">
              es集群
            </div>
            <div class="code-name">.icon-esjiqun
            </div>
          </li>
          
          <li class="dib">
            <span class="icon iconfont icon-kuaisuzhenduan"></span>
            <div class="name">
              快速诊断
            </div>
            <div class="code-name">.icon-kuaisuzhenduan
            </div>
          </li>
          
          <li class="dib">
            <span class="icon iconfont icon-dashboard"></span>
            <div class="name">
              dashboard
            </div>
            <div class="code-name">.icon-dashboard
            </div>
          </li>
          
          <li class="dib">
            <span class="icon iconfont icon-zizhufuwu"></span>
            <div class="name">
              自助服务
            </div>
            <div class="code-name">.icon-zizhufuwu
            </div>
          </li>
          
          <li class="dib">
            <span class="icon iconfont icon-topicqianyi"></span>
            <div class="name">
              topic迁移
            </div>
            <div class="code-name">.icon-topicqianyi
            </div>
          </li>
          
          <li class="dib">
            <span class="icon iconfont icon-jiqunxiangqing"></span>
            <div class="name">
              集群详情
            </div>
            <div class="code-name">.icon-jiqunxiangqing
            </div>
          </li>
          
          <li class="dib">
            <span class="icon iconfont icon-connectguanli"></span>
            <div class="name">
              connect管理
            </div>
            <div class="code-name">.icon-connectguanli
            </div>
          </li>
          
          <li class="dib">
            <span class="icon iconfont icon-peizhiguanli"></span>
            <div class="name">
              配置管理
            </div>
            <div class="code-name">.icon-peizhiguanli
            </div>
          </li>
          
          <li class="dib">
            <span class="icon iconfont icon-chenggong"></span>
            <div class="name">
              成功
            </div>
            <div class="code-name">.icon-chenggong
            </div>
          </li>
          
          <li class="dib">
            <span class="icon iconfont icon-shaixuan"></span>
            <div class="name">
              筛选
            </div>
            <div class="code-name">.icon-shaixuan
            </div>
          </li>
          
          <li class="dib">
            <span class="icon iconfont icon-shibai"></span>
            <div class="name">
              失败
            </div>
            <div class="code-name">.icon-shibai
            </div>
          </li>
          
          <li class="dib">
            <span class="icon iconfont icon-zhedie"></span>
            <div class="name">
              折叠
            </div>
            <div class="code-name">.icon-zhedie
            </div>
          </li>
          
          <li class="dib">
            <span class="icon iconfont icon-shanchu"></span>
            <div class="name">
              删除
            </div>
            <div class="code-name">.icon-shanchu
            </div>
          </li>
          
          <li class="dib">
            <span class="icon iconfont icon-tianjia"></span>
            <div class="name">
              添加
            </div>
            <div class="code-name">.icon-tianjia
            </div>
          </li>
          
          <li class="dib">
            <span class="icon iconfont icon-riqi"></span>
            <div class="name">
              日期
            </div>
            <div class="code-name">.icon-riqi
            </div>
          </li>
          
          <li class="dib">
            <span class="icon iconfont icon-shuaxin"></span>
            <div class="name">
              刷新
            </div>
            <div class="code-name">.icon-shuaxin
            </div>
          </li>
          
          <li class="dib">
            <span class="icon iconfont icon-sousuo"></span>
            <div class="name">
              搜索
            </div>
            <div class="code-name">.icon-sousuo
            </div>
          </li>
          
          <li class="dib">
            <span class="icon iconfont icon-leader"></span>
            <div class="name">
              leader
            </div>
            <div class="code-name">.icon-leader
            </div>
          </li>
          
          <li class="dib">
            <span class="icon iconfont icon-info"></span>
            <div class="name">
              info
            </div>
            <div class="code-name">.icon-info
            </div>
          </li>
          
          <li class="dib">
            <span class="icon iconfont icon-fuzhi"></span>
            <div class="name">
              复制
            </div>
            <div class="code-name">.icon-fuzhi
            </div>
          </li>
          
          <li class="dib">
            <span class="icon iconfont icon-bianji"></span>
            <div class="name">
              编辑
            </div>
            <div class="code-name">.icon-bianji
            </div>
          </li>
          
          <li class="dib">
            <span class="icon iconfont icon-xiazai"></span>
            <div class="name">
              下载
            </div>
            <div class="code-name">.icon-xiazai
            </div>
          </li>
          
          <li class="dib">
            <span class="icon iconfont icon-quanping"></span>
            <div class="name">
              全屏
            </div>
            <div class="code-name">.icon-quanping
            </div>
          </li>
          
        </ul>
        <div class="article markdown">
        <h2 id="font-class-">font-class 引用</h2>
        <hr>

        <p>font-class 是 Unicode 使用方式的一种变种，主要是解决 Unicode 书写不直观，语意不明确的问题。</p>
        <p>与 Unicode 使用方式相比，具有如下特点：</p>
        <ul>
          <li>相比于 Unicode 语意明确，书写更直观。可以很容易分辨这个 icon 是什么。</li>
          <li>因为使用 class 来定义图标，所以当要替换图标时，只需要修改 class 里面的 Unicode 引用。</li>
        </ul>
        <p>使用步骤如下：</p>
        <h3 id="-fontclass-">第一步：引入项目下面生成的 fontclass 代码：</h3>
<pre><code class="language-html">&lt;link rel="stylesheet" href="./iconfont.css"&gt;
</code></pre>
        <h3 id="-">第二步：挑选相应图标并获取类名，应用于页面：</h3>
<pre><code class="language-html">&lt;span class="iconfont icon-xxx"&gt;&lt;/span&gt;
</code></pre>
        <blockquote>
          <p>"
            iconfont" 是你项目下的 font-family。可以通过编辑项目查看，默认是 "iconfont"。</p>
        </blockquote>
      </div>
      </div>
      <div class="content symbol">
          <ul class="icon_lists dib-box">
          
            <li class="dib">
                <svg class="icon svg-icon" aria-hidden="true">
                  <use xlink:href="#icon-zhankaiicon"></use>
                </svg>
                <div class="name">展开icon</div>
                <div class="code-name">#icon-zhankaiicon</div>
            </li>
          
            <li class="dib">
                <svg class="icon svg-icon" aria-hidden="true">
                  <use xlink:href="#icon-shouqiicon"></use>
                </svg>
                <div class="name">收起icon</div>
                <div class="code-name">#icon-shouqiicon</div>
            </li>
          
            <li class="dib">
                <svg class="icon svg-icon" aria-hidden="true">
                  <use xlink:href="#icon-wodexiaoxiicon"></use>
                </svg>
                <div class="name">我的消息icon</div>
                <div class="code-name">#icon-wodexiaoxiicon</div>
            </li>
          
            <li class="dib">
                <svg class="icon svg-icon" aria-hidden="true">
                  <use xlink:href="#icon-reloadtime"></use>
                </svg>
                <div class="name">reload time</div>
                <div class="code-name">#icon-reloadtime</div>
            </li>
          
            <li class="dib">
                <svg class="icon svg-icon" aria-hidden="true">
                  <use xlink:href="#icon-gonggao-copy"></use>
                </svg>
                <div class="name">公告</div>
                <div class="code-name">#icon-gonggao-copy</div>
            </li>
          
            <li class="dib">
                <svg class="icon svg-icon" aria-hidden="true">
                  <use xlink:href="#icon-gonggao"></use>
                </svg>
                <div class="name">公告</div>
                <div class="code-name">#icon-gonggao</div>
            </li>
          
            <li class="dib">
                <svg class="icon svg-icon" aria-hidden="true">
                  <use xlink:href="#icon-DCcaijiqiguanli"></use>
                </svg>
                <div class="name">DC采集器管理</div>
                <div class="code-name">#icon-DCcaijiqiguanli</div>
            </li>
          
            <li class="dib">
                <svg class="icon svg-icon" aria-hidden="true">
                  <use xlink:href="#icon-kafka"></use>
                </svg>
                <div class="name">kafka</div>
                <div class="code-name">#icon-kafka</div>
            </li>
          
            <li class="dib">
                <svg class="icon svg-icon" aria-hidden="true">
                  <use xlink:href="#icon-rizhishenji"></use>
                </svg>
                <div class="name">日志审计</div>
                <div class="code-name">#icon-rizhishenji</div>
            </li>
          
            <li class="dib">
                <svg class="icon svg-icon" aria-hidden="true">
                  <use xlink:href="#icon-luojijiqunguanli"></use>
                </svg>
                <div class="name">逻辑集群管理</div>
                <div class="code-name">#icon-luojijiqunguanli</div>
            </li>
          
            <li class="dib">
                <svg class="icon svg-icon" aria-hidden="true">
                  <use xlink:href="#icon-quanxian"></use>
                </svg>
                <div class="name">权限</div>
                <div class="code-name">#icon-quanxian</div>
            </li>
          
            <li class="dib">
                <svg class="icon svg-icon" aria-hidden="true">
                  <use xlink:href="#icon-esjiqun"></use>
                </svg>
                <div class="name">es集群</div>
                <div class="code-name">#icon-esjiqun</div>
            </li>
          
            <li class="dib">
                <svg class="icon svg-icon" aria-hidden="true">
                  <use xlink:href="#icon-kuaisuzhenduan"></use>
                </svg>
                <div class="name">快速诊断</div>
                <div class="code-name">#icon-kuaisuzhenduan</div>
            </li>
          
            <li class="dib">
                <svg class="icon svg-icon" aria-hidden="true">
                  <use xlink:href="#icon-dashboard"></use>
                </svg>
                <div class="name">dashboard</div>
                <div class="code-name">#icon-dashboard</div>
            </li>
          
            <li class="dib">
                <svg class="icon svg-icon" aria-hidden="true">
                  <use xlink:href="#icon-zizhufuwu"></use>
                </svg>
                <div class="name">自助服务</div>
                <div class="code-name">#icon-zizhufuwu</div>
            </li>
          
            <li class="dib">
                <svg class="icon svg-icon" aria-hidden="true">
                  <use xlink:href="#icon-topicqianyi"></use>
                </svg>
                <div class="name">topic迁移</div>
                <div class="code-name">#icon-topicqianyi</div>
            </li>
          
            <li class="dib">
                <svg class="icon svg-icon" aria-hidden="true">
                  <use xlink:href="#icon-jiqunxiangqing"></use>
                </svg>
                <div class="name">集群详情</div>
                <div class="code-name">#icon-jiqunxiangqing</div>
            </li>
          
            <li class="dib">
                <svg class="icon svg-icon" aria-hidden="true">
                  <use xlink:href="#icon-connectguanli"></use>
                </svg>
                <div class="name">connect管理</div>
                <div class="code-name">#icon-connectguanli</div>
            </li>
          
            <li class="dib">
                <svg class="icon svg-icon" aria-hidden="true">
                  <use xlink:href="#icon-peizhiguanli"></use>
                </svg>
                <div class="name">配置管理</div>
                <div class="code-name">#icon-peizhiguanli</div>
            </li>
          
            <li class="dib">
                <svg class="icon svg-icon" aria-hidden="true">
                  <use xlink:href="#icon-chenggong"></use>
                </svg>
                <div class="name">成功</div>
                <div class="code-name">#icon-chenggong</div>
            </li>
          
            <li class="dib">
                <svg class="icon svg-icon" aria-hidden="true">
                  <use xlink:href="#icon-shaixuan"></use>
                </svg>
                <div class="name">筛选</div>
                <div class="code-name">#icon-shaixuan</div>
            </li>
          
            <li class="dib">
                <svg class="icon svg-icon" aria-hidden="true">
                  <use xlink:href="#icon-shibai"></use>
                </svg>
                <div class="name">失败</div>
                <div class="code-name">#icon-shibai</div>
            </li>
          
            <li class="dib">
                <svg class="icon svg-icon" aria-hidden="true">
                  <use xlink:href="#icon-zhedie"></use>
                </svg>
                <div class="name">折叠</div>
                <div class="code-name">#icon-zhedie</div>
            </li>
          
            <li class="dib">
                <svg class="icon svg-icon" aria-hidden="true">
                  <use xlink:href="#icon-shanchu"></use>
                </svg>
                <div class="name">删除</div>
                <div class="code-name">#icon-shanchu</div>
            </li>
          
            <li class="dib">
                <svg class="icon svg-icon" aria-hidden="true">
                  <use xlink:href="#icon-tianjia"></use>
                </svg>
                <div class="name">添加</div>
                <div class="code-name">#icon-tianjia</div>
            </li>
          
            <li class="dib">
                <svg class="icon svg-icon" aria-hidden="true">
                  <use xlink:href="#icon-riqi"></use>
                </svg>
                <div class="name">日期</div>
                <div class="code-name">#icon-riqi</div>
            </li>
          
            <li class="dib">
                <svg class="icon svg-icon" aria-hidden="true">
                  <use xlink:href="#icon-shuaxin"></use>
                </svg>
                <div class="name">刷新</div>
                <div class="code-name">#icon-shuaxin</div>
            </li>
          
            <li class="dib">
                <svg class="icon svg-icon" aria-hidden="true">
                  <use xlink:href="#icon-sousuo"></use>
                </svg>
                <div class="name">搜索</div>
                <div class="code-name">#icon-sousuo</div>
            </li>
          
            <li class="dib">
                <svg class="icon svg-icon" aria-hidden="true">
                  <use xlink:href="#icon-leader"></use>
                </svg>
                <div class="name">leader</div>
                <div class="code-name">#icon-leader</div>
            </li>
          
            <li class="dib">
                <svg class="icon svg-icon" aria-hidden="true">
                  <use xlink:href="#icon-info"></use>
                </svg>
                <div class="name">info</div>
                <div class="code-name">#icon-info</div>
            </li>
          
            <li class="dib">
                <svg class="icon svg-icon" aria-hidden="true">
                  <use xlink:href="#icon-fuzhi"></use>
                </svg>
                <div class="name">复制</div>
                <div class="code-name">#icon-fuzhi</div>
            </li>
          
            <li class="dib">
                <svg class="icon svg-icon" aria-hidden="true">
                  <use xlink:href="#icon-bianji"></use>
                </svg>
                <div class="name">编辑</div>
                <div class="code-name">#icon-bianji</div>
            </li>
          
            <li class="dib">
                <svg class="icon svg-icon" aria-hidden="true">
                  <use xlink:href="#icon-xiazai"></use>
                </svg>
                <div class="name">下载</div>
                <div class="code-name">#icon-xiazai</div>
            </li>
          
            <li class="dib">
                <svg class="icon svg-icon" aria-hidden="true">
                  <use xlink:href="#icon-quanping"></use>
                </svg>
                <div class="name">全屏</div>
                <div class="code-name">#icon-quanping</div>
            </li>
          
          </ul>
          <div class="article markdown">
          <h2 id="symbol-">Symbol 引用</h2>
          <hr>

          <p>这是一种全新的使用方式，应该说这才是未来的主流，也是平台目前推荐的用法。相关介绍可以参考这篇<a href="">文章</a>
            这种用法其实是做了一个 SVG 的集合，与另外两种相比具有如下特点：</p>
          <ul>
            <li>支持多色图标了，不再受单色限制。</li>
            <li>通过一些技巧，支持像字体那样，通过 <code>font-size</code>, <code>color</code> 来调整样式。</li>
            <li>兼容性较差，支持 IE9+，及现代浏览器。</li>
            <li>浏览器渲染 SVG 的性能一般，还不如 png。</li>
          </ul>
          <p>使用步骤如下：</p>
          <h3 id="-symbol-">第一步：引入项目下面生成的 symbol 代码：</h3>
<pre><code class="language-html">&lt;script src="./iconfont.js"&gt;&lt;/script&gt;
</code></pre>
          <h3 id="-css-">第二步：加入通用 CSS 代码（引入一次就行）：</h3>
<pre><code class="language-html">&lt;style&gt;
.icon {
  width: 1em;
  height: 1em;
  vertical-align: -0.15em;
  fill: currentColor;
  overflow: hidden;
}
&lt;/style&gt;
</code></pre>
          <h3 id="-">第三步：挑选相应图标并获取类名，应用于页面：</h3>
<pre><code class="language-html">&lt;svg class="icon" aria-hidden="true"&gt;
  &lt;use xlink:href="#icon-xxx"&gt;&lt;/use&gt;
&lt;/svg&gt;
</code></pre>
          </div>
      </div>

    </div>
  </div>
  <script>
  $(document).ready(function () {
      $('.tab-container .content:first').show()

      $('#tabs li').click(function (e) {
        var tabContent = $('.tab-container .content')
        var index = $(this).index()

        if ($(this).hasClass('active')) {
          return
        } else {
          $('#tabs li').removeClass('active')
          $(this).addClass('active')

          tabContent.hide().eq(index).fadeIn()
        }
      })
    })
  </script>
</body>
</html>
