@font-face {
  font-family: "iconfont"; /* Project id 2679570 */
  src: url('iconfont.woff2?t=1627354481710') format('woff2'),
       url('iconfont.woff?t=1627354481710') format('woff'),
       url('iconfont.ttf?t=1627354481710') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-zhankaiicon:before {
  content: "\e68e";
}

.icon-shouqiicon:before {
  content: "\e68f";
}

.icon-wodexiaoxiicon:before {
  content: "\e691";
}

.icon-reloadtime:before {
  content: "\e789";
}

.icon-gonggao-copy:before {
  content: "\e9e1";
}

.icon-gonggao:before {
  content: "\e9d2";
}

.icon-DCcaijiqiguanli:before {
  content: "\e9d3";
}

.icon-kafka:before {
  content: "\e9d4";
}

.icon-rizhishenji:before {
  content: "\e9d5";
}

.icon-luojijiqunguanli:before {
  content: "\e9d6";
}

.icon-quanxian:before {
  content: "\e9d7";
}

.icon-esjiqun:before {
  content: "\e9d8";
}

.icon-kuaisuzhenduan:before {
  content: "\e9d9";
}

.icon-dashboard:before {
  content: "\e9da";
}

.icon-zizhufuwu:before {
  content: "\e9db";
}

.icon-topicqianyi:before {
  content: "\e9dc";
}

.icon-jiqunxiangqing:before {
  content: "\e9dd";
}

.icon-connectguanli:before {
  content: "\e9df";
}

.icon-peizhiguanli:before {
  content: "\e9e0";
}

.icon-chenggong:before {
  content: "\e9d0";
}

.icon-shaixuan:before {
  content: "\e9d1";
}

.icon-shibai:before {
  content: "\e9cf";
}

.icon-zhedie:before {
  content: "\e9c3";
}

.icon-shanchu:before {
  content: "\e9c4";
}

.icon-tianjia:before {
  content: "\e9c5";
}

.icon-riqi:before {
  content: "\e9c6";
}

.icon-shuaxin:before {
  content: "\e9c7";
}

.icon-sousuo:before {
  content: "\e9c8";
}

.icon-leader:before {
  content: "\e9c9";
}

.icon-info:before {
  content: "\e9ca";
}

.icon-fuzhi:before {
  content: "\e9cb";
}

.icon-bianji:before {
  content: "\e9cc";
}

.icon-xiazai:before {
  content: "\e9cd";
}

.icon-quanping:before {
  content: "\e9ce";
}

