.ant-input-number {
  width: 314px
}

.footer-btn {
  float: right;
  text-align: right;
  padding: 40px;
  Button:first-child {
    margin-right: 16px;
  }
}
.ant-modal-body {
  padding: 20px;
}
.ant-modal-header {
  padding: 10px 20px;
}
.ant-form-item{
  margin-bottom: 0;
}