<?xml version="1.0" encoding="UTF-8" ?>
<configuration>

    <property name="pathPrefix" value="${LOG_PATH}/logs"/>
    <property name="maxHistory" value="2"/>
    <property name="CONSOLE_LOG_PATTERN" value="[%-5level][%d{YYYY-MM-dd'T'HH:mm:ss.SSS+0800}][%F:%line] %msg%n"/>
    <property name="log.path" value="./logs"/>

    <appender name="systemLogger"
              class="ch.qos.logback.core.rolling.RollingFileAppender">
        <File>${pathPrefix}/system.log</File>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <FileNamePattern>${pathPrefix}/system.log.%d{yyyy-MM-dd}</FileNamePattern>
            <maxHistory>${maxHistory}</maxHistory>
        </rollingPolicy>
        <layout class="ch.qos.logback.classic.PatternLayout">
            <Pattern>[%level][%d{yyyy-MM-dd'T'HH:mm:ss.SSS}][%t] %logger{36} - %msg%n</Pattern>
        </layout>
    </appender>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>${CONSOLE_LOG_PATTERN}</pattern>
        </encoder>
    </appender>

    <!-- level为 DEBUG 日志，时间滚动输出  -->
    <appender name="AUV_JOB_LOG" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <!-- 正在记录的日志文档的路径及文档名 -->
        <file>${log.path}/auv-job.log</file>
        <!--日志文档输出格式-->
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{50} - %msg%n</pattern>
            <charset>UTF-8</charset> <!-- 设置字符集 -->
        </encoder>
        <!-- 日志记录器的滚动策略，按日期，按大小记录 -->
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <!-- 日志归档 -->
            <fileNamePattern>${log.path}/auv-job-%d{yyyy-MM-dd}.%i.log</fileNamePattern>
            <!--日志文档保留天数-->
            <maxHistory>15</maxHistory>
            <maxFileSize>100MB</maxFileSize>
        </rollingPolicy>
    </appender>

    <!-- level为 DEBUG 日志，时间滚动输出  -->
    <appender name="BUZ_LOG" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <!-- 正在记录的日志文档的路径及文档名 -->
        <file>${log.path}/buz.log</file>
        <!--日志文档输出格式-->
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{50} - %msg%n</pattern>
            <charset>UTF-8</charset> <!-- 设置字符集 -->
        </encoder>
        <!-- 日志记录器的滚动策略，按日期，按大小记录 -->
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <!-- 日志归档 -->
            <fileNamePattern>${log.path}/buz-%d{yyyy-MM-dd}.%i.log</fileNamePattern>
            <!--日志文档保留天数-->
            <maxHistory>15</maxHistory>
            <maxFileSize>100MB</maxFileSize>
        </rollingPolicy>
    </appender>

    <springProfile name="!dev">

        <!-- 文件输出日志 (文件大小策略进行文件输出，超过指定大小对文件备份) -->
        <appender name="accessLogger"
                  class="ch.qos.logback.core.rolling.RollingFileAppender">
            <File>${pathPrefix}/access.log</File>
            <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
                <FileNamePattern>${pathPrefix}/access.log.%d{yyyy-MM-dd}</FileNamePattern>
                <maxHistory>${maxHistory}</maxHistory>
            </rollingPolicy>
            <layout class="ch.qos.logback.classic.PatternLayout">
                <Pattern>${FILE_LOG_PATTERN}</Pattern>
            </layout>
        </appender>

        <appender name="responseLogger"
                  class="ch.qos.logback.core.rolling.RollingFileAppender">
            <File>${pathPrefix}/response.log</File>
            <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
                <FileNamePattern>${pathPrefix}/response.log.%d{yyyy-MM-dd}</FileNamePattern>
                <maxHistory>${maxHistory}</maxHistory>
            </rollingPolicy>
            <layout class="ch.qos.logback.classic.PatternLayout">
                <Pattern>${FILE_LOG_PATTERN}</Pattern>
            </layout>
        </appender>

        <appender name="thirdReqLogger"
                  class="ch.qos.logback.core.rolling.RollingFileAppender">
            <File>${pathPrefix}/thirdReq.log</File>
            <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
                <FileNamePattern>${pathPrefix}/thirdReq.log.%d{yyyy-MM-dd}</FileNamePattern>
                <maxHistory>${maxHistory}</maxHistory>
            </rollingPolicy>
            <layout class="ch.qos.logback.classic.PatternLayout">
                <Pattern>${FILE_LOG_PATTERN}</Pattern>
            </layout>
        </appender>

        <appender name="thirdRespLogger"
                  class="ch.qos.logback.core.rolling.RollingFileAppender">
            <File>${pathPrefix}/thirdResp.log</File>
            <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
                <FileNamePattern>${pathPrefix}/thirdResp.log.%d{yyyy-MM-dd}</FileNamePattern>
                <maxHistory>${maxHistory}</maxHistory>
            </rollingPolicy>
            <layout class="ch.qos.logback.classic.PatternLayout">
                <Pattern>${FILE_LOG_PATTERN}</Pattern>
            </layout>
        </appender>

        <appender name="mysqlStatLogger"
                  class="ch.qos.logback.core.rolling.RollingFileAppender">
            <File>${pathPrefix}/mysqlStat.log</File>
            <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
                <FileNamePattern>${pathPrefix}/mysqlStat.log.%d{yyyy-MM-dd}</FileNamePattern>
                <maxHistory>${maxHistory}</maxHistory>
            </rollingPolicy>
            <layout class="ch.qos.logback.classic.PatternLayout">
                <Pattern>${FILE_LOG_PATTERN}</Pattern>
            </layout>
        </appender>

        <appender name="errorLog"
                  class="ch.qos.logback.core.rolling.RollingFileAppender">
            <File>${pathPrefix}/error.log</File>
            <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
                <FileNamePattern>${pathPrefix}/error.log.%d{yyyy-MM-dd}</FileNamePattern>
                <maxHistory>${maxHistory}</maxHistory>
            </rollingPolicy>
            <layout class="ch.qos.logback.classic.PatternLayout">
                <Pattern>${FILE_LOG_PATTERN}</Pattern>
            </layout>
        </appender>

        <appender name="threadLog"
                  class="ch.qos.logback.core.rolling.RollingFileAppender">
            <File>${pathPrefix}/thread.log</File>
            <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
                <FileNamePattern>${pathPrefix}/thread.log.%d{yyyy-MM-dd}</FileNamePattern>
                <maxHistory>${maxHistory}</maxHistory>
            </rollingPolicy>
            <layout class="ch.qos.logback.classic.PatternLayout">
                <Pattern>${FILE_LOG_PATTERN}</Pattern>
            </layout>
        </appender>

        <logger name="accessLogger" additivity="false">
            <level value="INFO"/>
            <appender-ref ref="accessLogger"/>
        </logger>

        <!--<logger name="responseLogger" additivity="false">-->
        <!--<level value="INFO"/>-->
        <!--<appender-ref ref="responseLogger"/>-->
        <!--</logger>-->

        <logger name="thirdRespLogger" additivity="false">
            <level value="INFO"/>
            <appender-ref ref="thirdRespLogger"/>
        </logger>

        <logger name="thirdReqLogger" additivity="false">
            <level value="INFO"/>
            <appender-ref ref="thirdReqLogger"/>
        </logger>

        <logger name="mysqlStatLogger" additivity="false">
            <level value="ERROR"/>
            <appender-ref ref="mysqlStatLogger"/>
        </logger>

        <logger name="errorLogger" additivity="false">
            <level value="ERROR"/>
            <appender-ref ref="errorLog"/>
        </logger>

        <logger name="treadPoolRunLogger" additivity="false">
            <level value="INFO"/>
            <appender-ref ref="threadLog"/>
        </logger>

        <logger name="treadPoolStaLogger" additivity="false">
            <level value="INFO"/>
            <appender-ref ref="threadLog"/>
        </logger>

        <logger name="com.didichuxing.tunnel.util.thread.TunnelRunnable" additivity="false">
            <level value="ERROR"/>
            <appender-ref ref="threadLog"/>
        </logger>

        <root>
            <level value="INFO"/>
            <appender-ref ref="systemLogger"/>
        </root>
    </springProfile>

    <!-- 区分dev环境和其它环境，dev环境，打印到控制台 -->
    <springProfile name="dev">
        <include resource="org/springframework/boot/logging/logback/defaults.xml"/>

        <!-- 控制台输出日志 -->
        <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
            <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
                <level>info</level>
            </filter>
            <encoder>
                <Pattern>${CONSOLE_LOG_PATTERN}</Pattern>
                <!-- 设置字符集 -->
                <charset>UTF-8</charset>
            </encoder>
        </appender>

        <root>
            <level value="INFO"/>
            <appender-ref ref="STDOUT"/>
        </root>
    </springProfile>

    <!--// auv job log-->
    <!--// auv job包打到 AUV_JOB_LOG-->
    <logger name="com.didiglobal.logi.auvjob" level="INFO" additivity="false">
        <appender-ref ref="STDOUT" />
        <appender-ref ref="AUV_JOB_LOG" />
    </logger>

    <!--// buz log-->
    <logger name="com" level="INFO" additivity="false">
        <appender-ref ref="STDOUT" />
        <appender-ref ref="BUZ_LOG" />
    </logger>
    <!--// org包开头的打到 STDOUT BUZ_LOG-->
    <logger name="org" level="INFO" additivity="false">
        <appender-ref ref="STDOUT" />
        <appender-ref ref="BUZ_LOG" />
    </logger>

    <!--// 所有的日志都打到 STDOUT-->
    <root level="INFO">
        <appender-ref ref="STDOUT" />
    </root>

</configuration>