.tasklist-detail,
.scheduling-log {
  margin-top: 16px;

  .ant-descriptions-item-label,
  .ant-descriptions-item-content {
    line-height: 1;
  }
}

.scheduling-detail {
  margin-top: 16px;
}

.index-edit-json {
  height: calc(100vh - 285px);
}

.steps-content {
  padding: 0 26px;
  .ant-form {
    padding: 0 48px;
  }
}
