.table-operation {
  width: 240px;
  > span {
      cursor: pointer;
  }
  > span + span {
    margin-left: 16px;
  }
}
.table-dropdown-btns {
  background-color: #fff;
  font-size: 14px;
  border: 1px solid #ebedef;
  box-shadow: 0 0 2px 0 rgba(12, 25, 52, 0.02), 0 0 8px 0 rgba(104, 126, 154, 0.12);
  border-radius: 2px;

  li {
    width: 94px;
    height: 32px;
    line-height: 32px;
    box-sizing: border-box;
    padding-left: 12px;
    padding-right: 20px;
    text-align: left;
    font-size: 12px;
    color: #374053;
    cursor: pointer;
    &:hover {
      background: #f1f7ff;
    }
  }
}
