.chart-item {
    box-sizing: border-box;
    margin-bottom: 10px;
    padding: 10px 12px 24px 24px;
    background-color: #fff;
    &-title {
      display: flex;
      align-items: center;
      height: 24px;
      margin-bottom: 14px;
      font-size: 16px;
      &-icon {
        width: 16px;
        height: 16px;
        margin-right: 10px;
        svg {
          width: 16;
          height: 16;
        }
      }
      &-text {
        font-size: 16px;
        color: #374053;
        font-weight: bolder;
      }
    }
  }