.assign-users {
  &-header {
    font-family: PingFangSC-Regular;
    font-size: 12px;
    color: #505568;
    line-height: 20px;
    &-author {
      padding-bottom: 14px;
    }
    &-object {
      padding-bottom: 14px;
      & > span {
        margin-bottom: 10px;
      }
    }
  }
  &-from {
    .ant-transfer-list {
      width: 260px !important;
      height: 323px;
    }
    &-see {
      width: 560px;
      height: 36px;
      background: rgba(244, 168, 56, 0.1);
      border: 1px solid #f4a838;
      border-radius: 2px;
      font-size: 12px;
      color: #f4a838;
      line-height: 36px;
      padding-left: 20px;
      margin-top: 20px;
    }
  }
}
