.wrap-contain {
  .ant-modal-header>.ant-modal-title {
    color: rgba(0, 0, 0, 1);
  }

  .ant-drawer-header {
    border-bottom: none;

    .ant-drawer-title {
      font-family: PingFangSC-Medium;
      font-size: 18px;
      color: rgba(0, 0, 0, 0.84);
      letter-spacing: 0;
      line-height: 28px;
      font-weight: 500;
    }
    .ant-drawer-close {
      margin-top: 10px;
    }
  }

  .ant-form-item-label>label {
    font-family: PingFangSC-Regular;
    font-size: 14px;
    color: rgba(0, 0, 0, 0.60);
    line-height: 22px;
    font-weight: 400;
  }
  .footer-btn {
    position: absolute;
    top: 14px;
    right: 50px;
    .ant-btn {
      width: 80px;
      border-radius: 4px;
      margin-right: 10px;
      font-size: 14px;
    }
    .divide {
      display: inline-block;
      margin: 0 5px;
      width: 1px;
      height: 16px;
      background: rgba(0, 0, 0, 0.13);
      position: relative;
      top: 2px;
    }
  }
  .text-custom-item {
    padding-left: 10px;
    font-family: PingFangSC-Regular;
    font-size: 14px;
    color: rgba(0, 0, 0, 0.87);
    letter-spacing: 0;
    line-height: 22px;
    font-weight: 400;
  }
}

.confirm-button {
  margin-right: 10px;
}