<?xml version="1.0" encoding="UTF-8"?>
<Configuration package="org.apache.logging.log4j.core,com.didiglobal.knowframework.log.log4j2.appender"
               status="error" monitorInterval="60">
    <!--变量配置-->
    <Properties>
        <property name="gateway.queryConfig.logPath" value="." />
        <Property name="address" value="10.96.75.19"/>
        <Property name="port" value="18938"/>
        <Property name="user" value=""/>
        <Property name="password" value=""/>
        <Property name="indexName" value="index_observability"/>
        <Property name="typeName" value="_doc"/>
    </Properties>


    <Appenders>

        <console name="console" target="SYSTEM_OUT">
            <!--输出日志的格式-->
            <PatternLayout pattern="[%-5level][%d{YYYY-MM-dd HH:mm:ss.SSS+0800}][%F:%line] %msg%n"/>
            <!--控制台只输出level及其以上级别的信息（onMatch），其他的直接拒绝（onMismatch）-->
            <ThresholdFilter level="info" onMatch="ACCEPT" onMismatch="DENY"/>
        </console>

        <ElasticsearchAppender name="esAppender" address="${address}" port="${port}" user="${user}"
                               password="${password}" indexName="${indexName}" typeName="${typeName}" threshold="all"
                               bufferSize="10000" numberOfShards="5" numberOfReplicas="0" logExpire="3"
                               extendsMappingClass="" requestTimeoutMillis="3000" discardWhenBufferIsFull="true">
            <Filters>
                <!--配置日志表达式，-->
                <!-- 开启所有日志-->
                <!--                <RegexFilter regex='.*"logEventType":"(LOG|METRIC|TRACE)".*' onMatch="ACCEPT" onMismatch="DENY"/>-->
                <!-- 仅开启LOG和METRIC-->
                <RegexFilter regex='.*"logEventType":"(LOG|METRIC)".*' onMatch="ACCEPT" onMismatch="DENY"/>
                <!-- 开启LOG和METRIC，TRACE日志仅当traceId不为空时打印-->
                <!--            <RegexFilter regex='.*"logEventType":"(LOG|METRIC)".*' onMatch="ACCEPT" onMismatch="NEUTRAL"/>-->
                <!--            <RegexFilter regex='.*"logEventType":"TRACE".*' onMatch="NEUTRAL" onMismatch="DENY"/>-->
                <!--            <RegexFilter regex='.*"traceId":"[a-z0-9]+".*' onMatch="NEUTRAL" onMismatch="DENY"/>-->
            </Filters>
        </ElasticsearchAppender>

        <RollingFile name="file" fileName="${gateway.queryConfig.logPath}/log/gateway.log" filePattern="${gateway.queryConfig.logPath}/log/gateway.log.%d{yyyy-MM-dd}"
                     append="true">
            <PatternLayout pattern="[%p][%d][%-4r][%t][%F:%L] %m%n" />
            <Policies>
                <TimeBasedTriggeringPolicy modulate="true"
                                           interval="1" />
            </Policies>
            <DefaultRolloverStrategy max="7"/>
        </RollingFile>

        <RollingFile name="bootLog" fileName="${gateway.queryConfig.logPath}/log/boot.log" filePattern="${gateway.queryConfig.logPath}/log/boot.log.%d{yyyy-MM-dd}"
                     append="true">
            <PatternLayout pattern="[%p][%d][%-4r][%t] %m%n" />
            <Policies>
                <TimeBasedTriggeringPolicy modulate="true"
                                           interval="1" />
            </Policies>
            <DefaultRolloverStrategy max="7"/>
        </RollingFile>

        <RollingFile name="queryStats" fileName="${gateway.queryConfig.logPath}/log/stats.log" filePattern="${gateway.queryConfig.logPath}/log/stats.log.%d{yyyy-MM-dd}"
                     append="true">
            <PatternLayout pattern="[%p][%d][%-4r][%t] %m%n" />
            <Policies>
                <TimeBasedTriggeringPolicy modulate="true"
                                           interval="1" />
            </Policies>
            <DefaultRolloverStrategy max="7"/>
        </RollingFile>

        <RollingFile name="metrics" fileName="${gateway.queryConfig.logPath}/log/metrics.log" filePattern="${gateway.queryConfig.logPath}/log/metrics.log.%d{yyyy-MM-dd}"
                     append="true">
            <PatternLayout pattern="[%p][%d][%-4r][%t][%F:%L] %m%n" />
            <Policies>
                <TimeBasedTriggeringPolicy modulate="true"
                                           interval="1" />
            </Policies>
            <DefaultRolloverStrategy max="7"/>
        </RollingFile>


        <RollingFile name="traceLog" fileName="${gateway.queryConfig.logPath}/log/didi.log" filePattern="${gateway.queryConfig.logPath}/log/didi.log.%d{yyyy-MM-dd}"
                     append="true">
            <PatternLayout pattern="[%p]%d{[yyyy-MM-dd'T'HH:mm:ss.SSSZ]} %m%n" />
            <Policies>
                <TimeBasedTriggeringPolicy modulate="true"
                                           interval="1" />
            </Policies>
            <DefaultRolloverStrategy max="7"/>
        </RollingFile>

        <RollingFile name="auditLog" fileName="${gateway.queryConfig.logPath}/log/audit.log" filePattern="${gateway.queryConfig.logPath}/log/audit.log.%d{yyyy-MM-dd}"
                     append="true">
            <PatternLayout pattern="[%p][%d}][%-4r][%t][%F:%L] %m%n" />
            <Policies>
                <TimeBasedTriggeringPolicy modulate="true"
                                           interval="1" />
            </Policies>
            <DefaultRolloverStrategy max="7"/>
        </RollingFile>

        <RollingFile name="thirdReq" fileName="${gateway.queryConfig.logPath}/log/thirdReq.log"
                     filePattern="${gateway.queryConfig.logPath}/log/thirdReq-%i.log" append="false">
            <PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss.SSS} %-5level - %msg%n"/>
            <SizeBasedTriggeringPolicy size="100MB"/>
            <DefaultRolloverStrategy max="2"/>
        </RollingFile>

        <RollingFile name="gatherInfoLogger" fileName="${gateway.queryConfig.logPath}/log/gather.log"
                     filePattern="${gateway.queryConfig.logPath}/log/gather.log.%i" append="true">
            <PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss.SSS} [%t] %-5level %L - %msg%xEx%n"/>
            <SizeBasedTriggeringPolicy size="10MB"/>
            <DefaultRolloverStrategy max="9"/>
        </RollingFile>
        <RollingFile name="gatherWarnLogger" fileName="${gateway.queryConfig.logPath}/log/gather.log"
                     filePattern="${gateway.queryConfig.logPath}/log/gather.log.%i" append="true">
            <PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss.SSS} [%t] %-5level %L - %msg%xEx%n"/>
            <SizeBasedTriggeringPolicy size="10MB"/>
            <DefaultRolloverStrategy max="9"/>
        </RollingFile>
        <RollingFile name="gatherErrorLogger" fileName="${gateway.queryConfig.logPath}/log/gather.log"
                     filePattern="${gateway.queryConfig.logPath}/log/gather.log.%i" append="true">
            <PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss.SSS} [%t] %-5level %L - %msg%xEx%n"/>
            <SizeBasedTriggeringPolicy size="10MB"/>
            <DefaultRolloverStrategy max="9"/>
        </RollingFile>

    </Appenders>
    <Loggers>
        <Root level="info">
<!--            <AppenderRef ref="console" />-->
            <AppenderRef ref="file" />
            <appender-ref ref="esAppender" />
        </Root>
        <AsyncLogger level="info" name="bootLog" additivity="false">
            <AppenderRef ref="bootLog"/>
        </AsyncLogger>
        <AsyncLogger level="info" name="queryStats" additivity="false">
            <AppenderRef ref="queryStats"/>
        </AsyncLogger>
        <AsyncLogger level="info" name="metrics" additivity="false">
            <AppenderRef ref="metrics"/>
        </AsyncLogger>
    </Loggers>
</Configuration>