<link rel="stylesheet" href="/static/lib/fa/css/font-awesome.min.css">
<link rel="stylesheet" href="/static/lib/bootstrap/css/bootstrap.min.css">
<link rel="stylesheet" href="/static/lib/highlightjs/styles/kimbie.dark.css">
<script src="/static/lib/jquery/jquery-1.12.1.min.js"></script>
<script src="/static/lib/jquery/jquery.taby.js"></script>
<script src="/static/lib/bootstrap/js/bootstrap.min.js"></script>
<script src="/static/lib/highlightjs/highlight.pack.js"></script>

<link rel="stylesheet" href="/static/lib/layer/skin/layer.css">
<script src="/static/lib/layer/layer.js"></script>

<link rel="stylesheet" href="/static/css/c.css">
<script src="/static/js/c.js"></script>
