<div class="col-md-1">
    <ul class="nav nav-pills nav-stacked" style="border-bottom:0;">
        <li class="">
            <a href="/grps"><i class="fa fa-home fa-fw"></i> 模板</a>
        </li>
        <li class="">
            <a href="/tasks"><i class="fa fa-file-code-o fa-fw"></i> 任务</a>
        </li>
        <li class="">
            <a href="/agents"><i class="fa fa-file-code-o fa-fw"></i> IP</a>
        </li>
        <li class="">
            <a href="/token/list"><i class="fa fa-key fa-fw"></i>token</a>
        </li>
    </ul>
</div>