{{if gt .Pager.PageNums 1}}
<ul class="pagination mt0 mb20">
    {{if .Pager.HasPrev}}
    <li><a href="{{.Pager.PageLinkFirst}}">&#171;</a></li>
    <li><a href="{{.Pager.PageLinkPrev}}">&lsaquo;</a></li>
    {{else}}
    <li class="disabled"><a>&#171;</a></li>
    <li class="disabled"><a>&lsaquo;</a></li>
    {{end}}
    {{range $index, $page := .Pager.Pages}}
    <li{{if $.Pager.IsActive .}} class="active"{{end}}>
    <a href="{{$.Pager.PageLink $page}}">{{$page}}</a>
    </li>
    {{end}}
    {{if .Pager.HasNext}}
    <li><a href="{{.Pager.PageLinkNext}}">&rsaquo;</a></li>
    <li><a href="{{.Pager.PageLinkLast}}">&#187;</a></li>
    {{else}}
    <li class="disabled"><a>&rsaquo;</a></li>
    <li class="disabled"><a>&#187;</a></li>
    {{end}}
</ul>
{{end}}