.hash-menu {
  background-color: #fff;

  &-content {
    .hash-menu-head {
      font-size: 14px;

      &.ant-menu-horizontal {
        background: #f0f2f5;
        height: 38px;
        line-height: 38px;

        .ant-menu-item {
          border-bottom: 0;
          margin: 0;
          padding: 0 20px 0 20px;
        }

        .ant-menu-item-selected {
          background-color: #fff;
        }

        .ant-menu-submenu,
        .ant-menu-item-active,
        .ant-menu-item-active:hover,
        .ant-menu-item-selected:hover {
          border-bottom: 0;
        }
      }
    }
  }
}

.hash-detail-wrapper {
  padding: 20px;
  min-height: 500px;
  background-color: #fff;
}