.dsl-pb-20 {
  padding-bottom: 20px;
}

.dsl-mr-20 {
  margin-right: 20px;
}

.dsl-drawer {
  margin-bottom: 20px;
  &-title {
    width: 100%;
    height: 40px;
    background: #F9F9FA;
    font-family: PingFangSC-Medium;
    font-size: 12px;
    color: #1D2330;
    text-align: left;
    line-height: 40px;
    margin-bottom: 24px;
    padding-left: 24px;
  }
  &-box {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 90%;
    position: relative;
    padding-right: 20px;
  }
  &-icon {
    cursor: pointer;
    position: absolute;
    right: 0px;
    top: 4px
  }
}

.two-row-ellipsis {
  text-overflow: -o-ellipsis-lastline;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  line-clamp: 2;
  -webkit-box-orient: vertical;
}

.dsl-overflow-auto {
  overflow: auto;
  max-height: 300px;
}

.dsl-vw-5 {
  max-width: 6vw;
}

.dsl-float-right {
  float: right;
}

.dsl-query-tpl {
  &-search {
    padding: 20px;
    padding-bottom: 0px;
    &-submit {
      float: right;
    }
  }
}
.error-query-container {
  .error-query-container-table {
    .error-query-container-table-cell {
      width: 12vw;
    }
  }
}

.slow-query-container {
  .slow-query-container-table {
    .slow-query-container-table-cell {
      width: 10vw;
    }
  }
}

.iframe-search {
  min-height: 800px !important
}

.hiddenMenuHeader {
  .ant-menu {
    display: none;
  }
  background: #fff;
  position: relative;
  overflow: hidden;
  .detail-tabs {
    // width: 177px;
    height: 32px;
    background: #F4F4F6;
    border-radius: 4px;
    margin-bottom: 16px;
    margin-top: 16px;
    margin-left: 20px;
    display: flex;
    padding: 4px;
    justify-content: space-between;
    &-item {
      // width: 72px;
      height: 24px;
      border-radius: 4px;
      font-family: PingFangSC-Medium;
      font-size: 14px;
      color: #5B6675;
      line-height: 20px;
      text-align: center;
      cursor: pointer;
      user-select: text;
      padding: 2px 8px 2px 8px;
    }
    // &-item-json {
    //   width: 82px;
    //   height: 24px;
    //   border-radius: 4px;
    //   font-family: PingFangSC-Medium;
    //   font-size: 14px;
    //   color: #5B6675;
    //   line-height: 20px;
    //   text-align: center;
    //   cursor: pointer;
    //   user-select: text;
    //   padding: 2px 8px 2px 8px;
    // }
    .check {
      background: #FFFFFF;
      color: @primary-color;
    }
  }
}